<div class="container">
<div class="row">

  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <img src="assets/img1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El Joker </h5>
        <p class="card-text">Un villano mas de batman</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Villanoo</li>
        <li class="list-group-item">Maniaco</li>
        <li class="list-group-item">Loco</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    
  </div>





</div>


</div>